<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="container-fluid" id="landing-navbar">
            <div class="row text-white" style="font-weight: bold;">
                <div class="col-8" style="padding: 32px;">
                    <img src="https://images.ctfassets.net/na3uvakhy5ts/2h3UV5I6TTV5FM3LDccCY7/c750f6de525edcebe89a1454bb38f057/UNESCO_logo_hor_blue.jpg" class="auth-brand">
                </div>
                <div class="col-1 my-auto" style="text-align: center;">
                    About us
                </div>
                <div class="col-2 my-auto" style="text-align: center;">
                    Registered organizations
                </div>
                <div class="col-1 my-auto" style="padding-right: 32px;">
                    <%= link_to new_donor_session_path do %>
                        <button class="btn-social">Sign in</button>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="landing-container-1">
            <div class="row align-items-center h-100">
                <div class="col text-white" style="text-align: center;">
                    <span>Apoiamos associações na</span>
                    <h2>Luta contra a fome.</h2>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="landing-container-2">
            <div class="row">
                <div class="col">
                    <span>Follow us</span>
                </div>
            </div>
            <div class="row align-items-center" style="margin-top: 16px;">
                <div class="col-4"></div>
                <div class="col-1">
                    <button class="btn-round"><%= fa_icon 'heart', class: 'ico' %></button>
                </div>
                <div class="col-1">
                    <button class="btn-round"><%= fa_icon 'heart', class: 'ico' %></button>
                </div>
                <div class="col-1">
                    <button class="btn-round"><%= fa_icon 'heart', class: 'ico' %></button>
                </div>
                <div class="col-1">
                    <button class="btn-round"><%= fa_icon 'heart', class: 'ico' %></button>
                </div>
                <div class="col-4"></div>
            </div>
        </div>

        <div class="container-fluid" id="landing-container-3">
            <div class="row h-100 align-items-center">
                
                <div class="col text-white" style="text-align: center;">
                    <span style="font-weight: bold; font-size: 32px;">We empowered donations valued at</span>
                    <h3 style="font-weight: bold; font-size: 48px;">2.570.356€</h3>
                    <span style="font-size: 32px;">In 365 days</span>
                </div>

            </div>
        </div>

        <div class="container-fluid" id="landing-container-4">
            <div class="row align-items-center h-100">
                <div class="col text-white" style="text-align: center;">
                    <h2>How do organizations earn with BeSocial?</h2>
                    <span>Lorem ipsum...</span>
                    <br/>
                    <button class="btn-social" style="width: 256px !important;">Register an organization</button>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="landing-container-5">
            <div class="row">
                <div class="col">
                    <span>Registered organizations</span>
                </div>
            </div>
            <div class="row align-items-center" style="margin-top: 16px;">
                <div class="col">
                    <img src="">
                </div>
            </div>
        </div>

        <div class="container-fluid" id="landing-container-6">
            <div class="row align-items-center h-100">
                <div class="col text-white" style="text-align: center;">
                    <h2>Advantages of donating via BeSocial</h2>
                    <span>Lorem ipsum...</span>
                    <br/>
                    <button class="btn-social" style="width: 256px !important;">Sign in</button>
                </div>
            </div>
        </div>

        <div class="container-fluid" id="landing-container-7">
            <div class="row">
                <div class="col">
                    <span>Social Coin</span>
                </div>
            </div>
        </div>

    </body>
</html>