<div id="<%= dom_id donor %>">
  <p>
    <strong>Name:</strong>
    <%= donor.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= donor.type %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= donor.email %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= donor.bio %>
  </p>

</div>
