<%= form_with(url: donors_donations_path, method: :post, remote: true, local: false) do |form| %>
  <%= form.hidden_field :event_id, value: @event.id %>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">New donation</h5>
    <button type="button" class="btn close" data-dismiss="modal" aria-hidden="true" onclick="destroy()">×</button>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <%= form.label :amount, "Amount for donation:", { class: "col-form-label" } %>
        <%= form.number_field :amount, { in: 0.01..(current_donor.wallet.money), step: 0.01, class: 'form-control' } %>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true" onclick="destroy()">Close</button>
    <%= form.button "Donate", { class: "btn btn-primary" } %>
  </div>
<% end %>