<div class="col-7" style="padding-left: 0;">
  <%= image_tag  event.banner, class: "feed-thumbnail" %>
</div>

<div class="col-5">
  <!-- USER INFO -->
  <div class="row">
    <div class="col-2">
      <%= image_tag  event.organization.avatar, class: "feed-avatar" %>
    </div>

    <div class="col-10 my-auto">
        <div class="row">
          <h6><%= event.organization.name %></h6>
        </div>
        <div class="row">
          <span>Published at <%= event.created_at.strftime("%d-%m-%Y") %></span>
        </div>
    </div>
  </div>

  <!-- LOCATION -->
  <div class="row" style="margin-top: 16px;">
      <div class="col">
          <%= fa_icon 'map-marker' %>
          <span>Lisboa, Portugal</span>
      </div>
  </div>

  <!-- TITLE -->
  <div class="row" style="margin-top: 16px;">
      <div class="col">
          <h3><%= event.name %></h3>
      </div>
  </div>

  <!-- DESCRIPTION -->
  <div class="row">
      <div class="col">
          <span style="word-wrap:break-word;">
            <%= truncate event.description, length: 140 %>
          </span>
      </div>
  </div>

  <div class="dropdown-divider"></div>

  <!-- DONATED -->
  <div class="row">
      <div class="col" style="padding-top: 8px; padding-bottom: 8px;">
          <h5>Pedro & 90 other people donated</h5>
      </div>
  </div>

  <!-- ACTIONS -->
  <div class="row" style="margin-right: 4px;">
      <div class="col-3">
          <button class="btn-social">Donate</button>
      </div>
      
      <div class="col-7"></div>

      <div class="col-1">
          <button class="btn-round"><%= fa_icon 'heart', class: 'ico' %></button>
      </div>

      <div class="col-1">
          <button class="btn-round"><%= fa_icon 'paper-plane', class: 'ico' %></button>
      </div>
  </div>
</div>