<html>
    <head>
        <title>Login</title>
        <style>
            html, body {
                height: 100%;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid h-100">
            <div class="row justify-content-center h-100">

                <div class="col-8" id="auth-info">
                    <div class="h-100 d-flex flex-column">

                        <!-- NAVBAR -->
                        <div class="row justify-content-center">
                            <div class="col" style="padding: 32px;">
                                <%= image_tag 'logo horizontal branco.png', class: 'auth-brand' %>
                            </div>
                        </div>

                        <div class="row justify-content-center flex-grow-1 align-items-center auth-thumbnail">
                        
                            <div class="col text-white" style="text-align: center;">
                                <span style="font-weight: bold; font-size: 32px;">Cáritas received</span>
                                <h3 style="font-weight: bold; font-size: 48px;">270.356€</h3>
                                <span style="font-size: 32px;">Last year</span>
                                <h4 style="font-weight: bold; font-size: 32px;">Thanks to your donations</h4>
                            </div>
                        
                        </div>

                        <!-- ORGANIZATIONS -->
                        <div class="row">
                            <div class="col" style="padding: 64px;">
                                
                                <div class="row">
                                    <div class="col" style="color: white; padding-bottom: 16px;">
                                        <h5>Registered organizations</h5>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <img src="<%= image_url('auth_organizations.png') %>" style="width: 100%;">
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                    </div>
                </div>

                <!-- FORM -->
                <div class="col-4 auth-form">
                    <div class="h-100 d-flex flex-column">

                        <div class="row justify-content-center flex-grow-1 align-items-center"></div>

                        <div class="row" style="margin-bottom: 16px;">
                            <div class="col-2"></div>
                            <div class="col-4 my-auto">
                                <%= link_to new_donor_session_path do %>
                                    <button class="feed-tab <%= 'active' if resource_name == :donor %>">Donors</button>
                                <% end %>
                            </div>
                            <div class="col-4 my-auto">
                                <%= link_to new_organization_session_path do %>
                                    <button class="feed-tab <%= 'active' if resource_name == :organization %>">Organizations</button>
                                <% end %>
                            </div>
                            <div class="col-2"></div>
                        </div>

                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="row">
                          <div class="col-2"></div>
                          <div class="col-8" style="text-align: center;">
                              <div class="field">
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail", class: 'txt-social' %>
                              </div>
                            
                              <div class="field">
                                <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: 'txt-social' %>
                              </div>
                            
                              <% if devise_mapping.rememberable? %>
                                <div class="field" style="text-align: left; color: #666666;">
                                  <%= f.check_box :remember_me %>
                                  <%= f.label :remember_me %>
                                </div>
                              <% end %>
                          </div>
                          <div class="col-2"></div>
                        </div>

                        <div class="row" style="margin-top: 32px;">
                          <div class="col-2"></div>
                          <div class="col-4">
                            <div class="actions">
                              <%= f.submit "Login", class: 'btn-social', style: 'margin-bottom: 8px;' %>
                            </div>
                          </div>
                          <div class="col-6"></div>
                        </div>
                        <% end %>
                        
                        <div class="row">
                          <%= render "devise/shared/links" %>
                        </div>

                        <div class="row justify-content-center flex-grow-1 align-items-center"></div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>