<!DOCTYPE html>
<html>
  <head>
    <title>Shiftappens2022</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">

          <!-- NAVBAR -->
          <div class="col-9 feed-container">
              <div class="row" id="navbar">
                  <div class="col-3">
                      <h1>D=</h1>
                  </div>

                  <div class="col-2 my-auto">
                      <div class="input-group input-shadow">
                          <input class="form-control border-end-0 border shadow-none" type="search" placeholder="Search..." id="txt_search" style="border-bottom-left-radius: 20px; border-top-left-radius: 20px;">
                          <span class="input-group-append">
                              <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5" type="button" style="border-bottom-right-radius: 20px; border-top-right-radius: 20px;">
                                  <i class="fa fa-search"></i>
                              </button>
                          </span>
                      </div>
                  </div>

                  <div class="col-2 my-auto">
                      <button class="btn-navbar">Generate revenue</button>
                  </div>

                  <div class="col-2 my-auto">
                      <button class="btn-navbar">Find organizations</button>
                  </div>

                  <div class="col-1"></div>

                  <div class="col-1 my-auto">
                      <button class="feed-tab">Global</button>
                  </div>
                  <div class="col-1 my-auto">
                      <button class="feed-tab active">Local</button>
                  </div>
              </div>

              
              <%= yield %>
          </div>

          <!-- SIDEBAR -->
          <div class="col-3" id="sidebar">
              
              <div id="user_section">
                  <div class="row">
                      <div class="col-3">
                        <%= image_tag  current_donor.avatar, class: "sidebar-avatar" %>
                      </div>

                      <div class="col-9">
                          <div class="row">
                              <div class="col-8">
                                <%= link_to(donors_profile_path(current_donor.id), class: 'sidebar-username') do %>
                                  <%= current_donor.name %>
                                <% end %>
                              </div>
                              <div class="col-4 my-auto" style="text-align: right;">
                                  <%= link_to(destroy_donor_session_path, method: :delete) do %>
                                      <%= fa_icon('sign-out', style: 'color: white; font-size: 32px;') %>
                                  <% end %>
                              </div>
                          </div>
                          
                          <div class="row">
                              <div class="">
                                  <span>Online for <%= distance_of_time_in_words(current_donor.last_sign_in_at, Time.now) %></span>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col">
                                  <span style="font-size: 20px;">+<%= pluralize(session[:money_since_loging], 'coin') %></span>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="row" style="margin-top: 64px;">
                      <div class="col-2"></div>
                      <div class="col-8">
                          <button class="btn-social">Donate</button>
                      </div>
                      <div class="col-2"></div>
                  </div>

                  <div class="row">
                      <div class="col-2"></div>
                      <div class="col-8" style="text-align: center; margin-top: 8px;">
                          <span>total: <%= pluralize(current_donor.wallet.money, 'coin') %></span>
                      </div>
                      <div class="col-2"></div>
                  </div>
              </div>
          </div>

      </div>
    </div>
  </body>
</html>
