<!DOCTYPE html>
<html>
  <head>
    <title>Shiftappens2022</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        function destroy(){
            $('.modal').modal('hide');
            $('.modal-content').html('');
        }
            
    </script>
  </head>

  <body>
    <!-- MODAL code -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
    </div>
    <!-- Rest of view -->
    <div class="container-fluid">
        <div class="row">

        <!-- NAVBAR -->
        <div class="col-9 feed-container <%= 'p0' if controller_name == 'profiles' && action_name=='show' %>">
            <div class="row" id="navbar">
                <div class="col-3" style="text-align: center; padding: 32px 50px;">
                    <%= link_to root_path do %>
                    <%= image_tag 'logo horizontal cores_preto.png', style: 'width: 100%;' %>
                    <% end %>
                </div>

                <div class="col-2 my-auto">
                    <div class="input-group input-shadow">
                        <%= form_tag(donors_feed_index_path, method: :get) do %>
                            <span class="input-group-append">
                                <%= text_field_tag :name, params[:name], remote: true, placeholder: 'Search...', id: 'txt_search', style: 'border-bottom-left-radius: 20px; border-top-left-radius: 20px;', class: 'form-control border-end-0 border shadow-none' %>
                                <%= button_tag({ class: 'btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border ms-n5', style: 'border-bottom-right-radius: 20px; border-top-right-radius: 20px;' }) do %>
                                    <i class="fa fa-search"></i>
                                <% end %>
                            </span>
                        <% end %>
                    </div>
                </div>

                <div class="col-2 my-auto">
                    <%= link_to donors_revenue_index_path do %>
                        <button class="btn-navbar">Generate revenue</button>
                    <% end %>
                </div>

                <div class="col-2 my-auto">
                    <button class="btn-navbar">Find organizations</button>
                </div>

                <div class="col-1"></div>

                <div class="col-1 my-auto">
                    <%= link_to 'Global', donors_feed_index_path(scope: 'global'), class: "feed-tab #{ 'active' if params[:scope].nil? || params[:scope] == 'global'}" %>
                </div>
                <div class="col-1 my-auto">
                    <%= link_to 'Local', donors_feed_index_path(scope: 'local'), class: "feed-tab #{ 'active' if params[:scope] == 'local'}" %>
                </div>
            </div>

            <%= yield %>
        </div>

        <!-- SIDEBAR -->
        <div class="col-3 d-flex flex-column" id="sidebar">
              
            <div id="user_section">
                <div class="row">
                    <div class="col-3">
                    <% if current_donor.avatar.present? %>
                        <%= image_tag  current_donor.avatar, class: "sidebar-avatar" %>
                    <% end %>
                    </div>

                    <div class="col-9">
                        <div class="row">
                            <div class="col">
                            <%= link_to(donors_profile_path(current_donor.id), class: 'sidebar-username') do %>
                                <%= current_donor.name %>
                            <% end %>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="">
                                <span>Online for <%= distance_of_time_in_words(current_donor.last_sign_in_at, Time.now) %></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span style="font-size: 20px;">+<%= pluralize(session[:money_since_loging], 'coin') %></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 64px;">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <button class="btn-social">Donate</button>
                    </div>
                    <div class="col-2"></div>
                </div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8" style="text-align: center; margin-top: 8px;">
                        <span>total: <%= pluralize(current_donor.wallet.money, 'coin') %></span>
                    </div>
                    <div class="col-2"></div>
                </div>

                <div class="row">
                    <div class="">

                    </div>
                </div>
            </div>

            <div class="row flex-grow-1"></div>

            <div class="row" style="margin-bottom: 16px;">
                <div class="col" style="text-align: center;">
                    <%= link_to(destroy_donor_session_path, method: :delete, class: 'lnk-logout') do %>
                        <span>Log out</span>
                        <%= fa_icon('sign-out', style: 'color: white; font-size: 24px;') %>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="col" style="text-align: center;">
                    <span>Developed in ShiftAppens 2022</span>
                </div>
            </div>
        </div>

      </div>
    </div>

    <% # This block is for flash messages (ex. after login) %>
      <% flash.each do |message_type, message| %>
        <%= raw "confirmCallback({class: 'is-#{message_type}', message: '#{escape_javascript(message)}'});" if message_type != 'script' %>
      <% end %>
  </body>
</html>
